/* public */


/* swiper */

.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 100;
}

.swiper-container .swiper-slide {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
}

.swiper-pagination {
    position: absolute;
    right: 5px;
    bottom: 7px;
    z-index: 300;
}

.swiper-pagination-switch {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #575757;
    display: inline-block;
    margin: 0 5px;
}

.swiper-active-switch {
    background: #fff
}

.swiper-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative
}

.w1190 {
    width: 1190px;
    margin: 0 auto;
}

.index_title {
    text-align: center;
    margin: 0 auto;
    padding: 55px 0;
    font-family: 'Microsoft YaHei';
}

.index_title>div {
    font-size: 27px;
    color: #333;
}

.index_title>p {
    font-size: 12px;
    color: #747474;
    margin-top: 18px;
}


/* header */

.header {
    height: 30px;
    line-height: 30px;
    background: #222;
    color: #fff;
    font-size: 12px;
}

.header a {
    color: #fff;
}

.entryline {
    margin: 0 20px;
}

.header .about {
    margin: 0 50px;
}


/* nav */

.nav {
    height: 68px;
}

.nav .logo {
    width: 157px;
    margin-top: 10px;
}

.navul>li {
    float: left;
    height: 68px;
    position: relative;
}

.navul>li>a,
.navul>li>span {
    height: 68px;
    line-height: 68px;
    display: inline-block;
    font-size: 16px;
    padding: 0 15px;
    margin-left: 30px;
    cursor: pointer;
}

.navul>li .iconfont {
    font-size: 10px;
    margin-left: 8px;
}

.navul>li .wechatcode {
    position: absolute;
    left: 15px;
    top: 50px;
    z-index: 101;
    width: 122px;
    display: none
}

.s_nav {
    position: absolute;
    right: 5px;
    top: 60px;
    border: 1px #eee solid;
    padding: 0 15px;
    z-index: 101;
    line-height: 40px;
    background: #fff;
    display: none;
}

.s_nav::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 1px #eee solid;
    border-left: 1px #eee solid;
    background: #fff;
    position: absolute;
    top: -4px;
    right: 10px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -moz-transform: rotate(45deg);
    /* Firefox */
    -webkit-transform: rotate(45deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg);
    /* Opera */
}

.s_nav li {
    border-bottom: 1px #eee solid;
    padding: 0 10px;
}

.s_nav li:last-child {
    border: none;
}


/* sidenav */

.sidenav {
    position: absolute;
    left: 50%;
    margin-left: 600px;
    top: 60px;
    z-index: 101;
}

.sidenav li {
    width: 42px;
    position: relative;
}

.sidenav li i {
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border-radius: 42px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 22px;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.sidenav li .wechatcode {
    position: absolute;
    right: 50px;
    top: 0;
    display: none;
}

.fixed {
    position: fixed;
}


/* footer */

.footer {
    height: 253px;
    background: #222;
    font-size: 14px;
    color: #fff;
}

.footer .pt30 {
    padding-top: 30px
}

.footer .pt {
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
}

.footer .logo {
    width: 134px;
}

.footer .dv1 {
    height: 140px;
    margin-left: 243px;
    width: 188px;
}

.footer .dv2 {
    height: 140px;
    width: 152px;
}

.footer .dv3 {
    height: 140px;
    width: 199px;
}

.footer .dv4 {
    height: 140px;
    width: 260px;
    color: #f5f8f8;
}

.footer .dv4 p {
    margin-bottom: 15px
}

.footer .dv1 a,
.footer .dv2 a,
.footer .dv3 a {
    color: #fff;
    font-size: 14px;
    margin-bottom: 15px;
    display: block
}


/* banner */

.index_swiper {
    width: 100%;
    min-width: 1190px;
    margin: 0 auto;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.index_swiper .swiper-slide .pic {
    width: auto;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    /* IE 9 */
    -moz-transform: translate(-50%, 0);
    /* Firefox */
    -webkit-transform: translate(-50%, 0);
    /* Safari 和 Chrome */
    -o-transform: translate(-50%, 0);
    /* Opera */
}

.index_swiper .arrow-left,
.index_swiper .arrow-right {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 205px;
    z-index: 1000;
    margin-left: -595px
}

.index_swiper .arrow-right {
    margin-left: 545px
}

.index_seach {
    width: 100%;
    height: 82px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100
}

.startpoint,
.endpoint {
    width: 272px;
    height: 36px;
    line-height: 36px;
    float: left;
    margin: 25px 0 0 300px;
    position: relative;
}

.endpoint {
    margin: 25px 0 0 35px;
}

.startpoint input,
.endpoint input {
    width: 100%;
    height: 36px;
    background: #fff;
    line-height: 36px;
    border: none;
    padding: 0 25px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.index_seach .downicon,
.index_seach .searchicon {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 10px;
    cursor: pointer;
}

.index_seach .searchicon {
    font-size: 22px;
}


/* content01 */

.content01 {
    width: 100%;
    position: relative;
}

.accordion {
    overflow: hidden;
    /*隐藏溢出*/
    width: 100%;
    height: 350px;
    margin: 0 auto 45px;
}

.accordion ul {
    width: 100%;
    height: 100%;
}

.accordion ul li {
    width: 58px;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}

.accordion ul li:first-child {
    width: 1008px;
}

.accordion ul li>a.fl img {
    width: 950px;
    height: 350px;
    position: absolute;
    right: 58px;
    top: 0;
}

.accordion ul li>div {
    width: 58px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.accordion ul li>div.fl img {
    width: 58px;
    height: 350px;
    border-left: 1px #fff solid;
}

.accordion ul li>div::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 350px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.accordion ul li>div.fl span {
    position: absolute;
    width: 16px;
    height: 304px;
    line-height: 16px;
    margin: 23px 20px;
    text-align: center;
    overflow: hidden;
    left: 0;
    top: 0;
    font-size: 14px;
    letter-spacing: 16px;
    color: #fff;
    word-wrap: break-word;
    /*英文的时候需要加上这句，自动换行*/
}


/* content02 */

.content02 {
    background: #f5f5f5
}

.product_select {
    padding-bottom: 80px;
}

.product_select li {
    width: 224px;
    overflow: hidden;
    float: left;
    position: relative;
    margin-left: 17px;
}

.product_select li:first-child {
    margin: 0;
}

.product_select li img {
    width: 224px;
    height: 253px;
    opacity: 0.8;
    transition: all 0.6s;
}

.product_select li:hover img {
    opacity: 1;
}

.product_select li div,
.product_select li p {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-top: 30px;
}

.product_select li p {
    font-size: 12px;
    color: #747474;
    margin-top: 6px;
}

.product_select .lb,
.product_select .rt {
    width: 20px;
    height: 20px;
    background: #f5f5f5;
    position: absolute;
    z-index: 1;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -moz-transform: rotate(45deg);
    /* Firefox */
    -webkit-transform: rotate(45deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg);
    /* Opera */
}

.product_select .lb {
    left: -10px;
    top: 243px
}

.product_select .rt {
    right: -10px;
    top: -10px
}


/* content03 */

.banner_small {
    width: 100%;
    min-width: 1190px;
    position: relative;
    height: 361px;
    overflow: hidden;
}

.banner_small img {
    width: auto;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    /* IE 9 */
    -moz-transform: translate(-50%, 0);
    /* Firefox */
    -webkit-transform: translate(-50%, 0);
    /* Safari 和 Chrome */
    -o-transform: translate(-50%, 0);
    /* Opera */
}


/* content04 */

.picwall ul {
    width: 205px;
    margin-left: 15px;
    margin-bottom: 60px;
    overflow: hidden;
}

.picwall ul:first-child {
    width: 747px;
}

.picwall ul:first-child {
    margin-left: 0;
}

.picwall ul li {
    width: 100%;
    height: 166px;
    position: relative;
    margin-bottom: 15px;
}

.picwall ul li .s_img {
    width: 205px;
    height: 166px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.picwall ul:last-child li .s_img {
    left: auto;
    right: 0;
}

.picwall ul li .desc {
    width: 527px;
    /* width: 0px; */
    height: 347px;
    position: absolute;
    left: 220px;
    top: 0;
    z-index: 1;
}

.picwall ul li:last-child .desc {
    top: auto;
    bottom: 0;
}

.picwall ul:last-child li .desc {
    left: auto;
    right: 220px;
}

.picwall ul li .desc .m_img {
    width: 527px;
    height: 347px;
}

.picwall ul li .desc>div {
    position: absolute;
    left: 0;
    top: 50%;
    box-sizing: border-box;
    padding: 25px 45px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    /* IE 9 */
    -moz-transform: translate(0, -50%);
    /* Firefox */
    -webkit-transform: translate(0, -50%);
    /* Safari 和 Chrome */
    -o-transform: translate(0, -50%);
    /* Opera */
}

.picwall ul li .desc>div h6 {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}

.picwall ul li .desc>div p {
    line-height: 20px;
    font-size: 12px;
    max-height: 80px;
    overflow: hidden;
}


/* 私人订制 */

.Personaltailor {
    width: 100%;
    height: 502px;
    background: url('../images/Personaltailor_bg.jpg') center top no-repeat;
    overflow: hidden;
}

.Personaltailor>div {
    width: 677px;
    height: 340px;
    position: relative;
    margin: 85px auto 0;
    background: url('../images/Personaltailor_img.png') center top no-repeat;
}

.Personaltailor>div .al,
.Personaltailor>div .ar {
    width: 243px;
    height: 47px;
    position: absolute;
    left: 56px;
    bottom: 0;
}

.Personaltailor>div .ar {
    left: auto;
    right: 47px;
}


/* 登录注册 */

.login_center {
    width: 100%;
    height: 698px;
    position: relative;
}

.login_center .pic {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    /* IE 9 */
    -moz-transform: translate(-50%, 0);
    /* Firefox */
    -webkit-transform: translate(-50%, 0);
    /* Safari 和 Chrome */
    -o-transform: translate(-50%, 0);
    /* Opera */
}

.login_box {
    width: 417px;
    height: 583px;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: 188px;
    top: 60px;
    border-radius: 10px;
}

.login_box h6 {
    font-size: 24px;
    color: #222;
    height: 83px;
    border-bottom: 1px #f5f5f5 solid;
    padding: 30px 0 0 40px;
    box-sizing: border-box;
}

.login_box .w336 {
    width: 336px;
    margin: 0 auto;
}

.login_box .phone {
    width: 334px;
    height: 44px;
    border: 1px #e9e9e9 solid;
    border-radius: 5px;
    margin-top: 29px;
}

.drag-out {
    width: 300px;
    margin: 50px auto;
    position: relative;
    height: 35px;
    line-height: 35px;
    background-color: #DDDDDD;
    text-align: center;
    user-select: none;
}

.drag-out span {
    z-index: 10;
    position: relative;
}

.drag-area {
    position: absolute;
    height: 33px;
    border: 1px solid #CCCCCC;
    width: 50px;
    top: 0;
    left: 0;
    background-color: #eee;
    cursor: move;
    line-height: 32px;
    user-select: none;
}

.drag-code {
    position: absolute;
    width: 0;
    height: 35px;
    left: 0;
    top: 0;
    background-color: #3be288;
}