/* public */


/* swiper */

.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 100;
}

.swiper-container .swiper-slide {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
}

.swiper-pagination {
    position: absolute;
    right: 5px;
    bottom: 7px;
    z-index: 300;
}

.swiper-pagination-switch {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #575757;
    display: inline-block;
    margin: 0 5px;
}

.swiper-active-switch {
    background: #fff
}

.swiper-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative
}

.w1190 {
    width: 1190px;
    margin: 0 auto;
}

.index_title {
    text-align: center;
    margin: 0 auto;
    padding: 55px 0;
    font-family: 'Microsoft YaHei';
}

.index_title>div {
    font-size: 27px;
    color: #333;
}

.index_title>p {
    font-size: 12px;
    color: #747474;
    margin-top: 18px;
}


/* header */

.header {
    height: 30px;
    line-height: 30px;
    background: #222;
    color: #fff;
    font-size: 12px;
}

.header a {
    color: #fff;
}

.entryline {
    margin: 0 20px;
}

.header .about {
    margin: 0 50px;
}


/* nav */

.nav {
    height: 68px;
}

.nav .logo {
    width: 157px;
    margin-top: 10px;
}

.navul li {
    float: left;
    height: 68px
}

.navul li>a {
    height: 68px;
    line-height: 68px;
    display: inline-block;
    font-size: 16px;
    padding: 0 15px;
    margin-left: 30px
}


/* banner */

.index_swiper {
    width: 100%;
    min-width: 1190px;
    margin: 0 auto;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.index_swiper .swiper-slide .pic {
    width: auto;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    /* IE 9 */
    -moz-transform: translate(-50%, 0);
    /* Firefox */
    -webkit-transform: translate(-50%, 0);
    /* Safari 和 Chrome */
    -o-transform: translate(-50%, 0);
    /* Opera */
}

.index_seach {
    width: 100%;
    height: 82px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100
}

.startpoint,
.endpoint {
    width: 272px;
    height: 36px;
    line-height: 36px;
    float: left;
    margin: 25px 0 0 300px;
}

.endpoint {
    margin: 25px 0 0 35px;
}

.startpoint input,
.endpoint input {
    width: 100%;
    height: 36px;
    background: #fff;
    line-height: 36px;
    border: none;
    padding: 0 25px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}


/* content01 */

.accordion {
    overflow: hidden;
    /*隐藏溢出*/
    width: 100%;
    height: 350px;
    margin: 0 auto 45px;
}

.accordion ul {
    width: 100%;
    height: 100%;
}

.accordion ul li {
    width: 58px;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}

.accordion ul li:first-child {
    width: 1008px;
}

.accordion ul li>a.fl img {
    width: 950px;
    height: 350px;
    position: absolute;
    right: 58px;
    top: 0;
}

.accordion ul li>div {
    width: 58px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.accordion ul li>div.fl img {
    width: 58px;
    height: 350px;
    border-left: 1px #fff solid;
}

.accordion ul li>div::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 350px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.accordion ul li>div.fl span {
    position: absolute;
    width: 16px;
    height: 304px;
    line-height: 16px;
    margin: 23px 20px;
    text-align: center;
    overflow: hidden;
    left: 0;
    top: 0;
    font-size: 14px;
    letter-spacing: 16px;
    color: #fff;
    word-wrap: break-word;
    /*英文的时候需要加上这句，自动换行*/
}


/* content02 */

.content02 {
    background: #f5f5f5
}